.head {
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16.9541px !important;
  line-height: 21px !important;
}
.Appbarss {
  justify-content: space-between;
}
.iconstyle ul li div {
  margin: 0 15px !important;

}
.css-1p823my-MuiListItem-root {
  padding: 0 !important;
}
.css-19r6kue-MuiContainer-root {
  max-width: 100% !important;
}
.my-appbar p {
  margin: 0px;
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 9px !important;
  line-height: 11px !important;
  text-align: start;
}
p.filePara {
  margin-left: 3px !important;
}
.my-appbar .arrowDown {
  font-size: 15px !important;
}
.txtCenter {
  text-align: center !important;
}
.mrgnTop {
  margin-top: 5px !important;
}
