.overview_tabs {
    justify-content: center !important; 
}
.overview_tabs  button {
    padding: 10px;
    background-color: #F2F2F2;
    color: #0D062D;
    font-weight: 700;
    font-size: 14px !important;
    cursor: pointer;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.overview_tabs  button:active {
    background-color: #fff;
}

.bg{
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
}
.service{
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
hr {
    margin: 0 !important;
}
.layer-icon{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    padding: 1rem;
}
.layer-icon p{
    margin: 0px;
}

.layer-icons svg{
    font-size: medium !important;
    margin: auto 5px;
}