.overview {
    margin: 0 !important;
    padding: 1px !important;
}
.overview_title {
    text-align: center;
    font-size: 18px;
    margin: 15px auto;
}
.overview img {
    width: 70%;
    display: block;
    margin: 0 auto;
    height: 19% !important;
}

/* Zoom OR Rotate */
.zoomRotate {
    display: flex;
    margin: 0 16px;
    padding: 0 16px;
}
.zoom {
    padding: 0 10px !important;
}