.overview-container{
    height: auto;
    
}
.overview-head{
    text-align: center;
    
    
}
.overview-head img{
    height: 129px;

}
.overview-head h3{
    margin: 10px 0px;
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 17px !important;
}
.side-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
}
.overview-text{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 0.5rem !important;
    padding: 0 3rem;
    position: relative;
}
.rightbar .MuiTypography-root.MuiTypography-body1.MuiTypography-gutterBottom.css-d3wcwz-MuiTypography-root{
    margin-bottom: 0px !important;

}
