.background-grey {
  padding: 5px;
}
.gallery {
  margin: 10px 20px;
}
.Sidebar-card-container {
  background-color: #fff;
  margin: auto;
}
.search-bar  {
  background-color: #fff;
  margin-bottom: 8px;
 width: 100%;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 5px;
  margin-top: 2rem;
}
.search-icon{
  margin-top: 9px !important ;
}
.sidbarIcons a {
  margin: 7px;
}
.search-bar input:focus {
  border: none !important;
  outline: none !important;
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
  margin-left: 25px !important;
}
.img-gallery img {
  width: 4.8rem;
  height: 4.8rem;
  margin: 4px;
  max-width: 100%;
  height: auto;
  padding: 0;
}
