body {
  margin: 0px;
  padding: 0px;
}

.rightbar {
  position: relative;
  top: -10px !important;
}
.sidbarIcons a button:focus {
  color: rgb(34, 73, 245) !important;
}
.leftSidebar {
  /* height: 100vh !important; */
  border-right: 1px solid rgb(11, 11, 12) !important;
}
